<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let resto of collection">
            <td>{{resto.id}}</td>
            <td>{{resto.name}}</td>
            <td>{{resto.Address}}</td>
            <td>{{resto.mobile}}</td>
            <td>{{resto.email}}</td> 
            <td>
                <button class="btn btn-warning">
                    <a routerLink="/update/{{resto.id}}"><i class="fa fa-pencil"></i></a>Add
                </button>
                
                <button class="btn btn-danger">
                    <i (click)="deleteResto(resto.id)" class="fa fa-trash-o"></i> Delete
                </button>
            </td>    
        </tr>
    </tbody>
</table>